/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  } */
body{
    
}
.flexbox{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#features{
    margin:3%;
}
.feature-card{
    width:15rem;
    text-align:center;
}
h4{
    font-weight: 500;
}
h2{
    font-size:3rem !important;
    line-height: 50px !important;
}
@media (max-width:450px) {
    h2{
        font-size: 2rem !important;
    }
}
.carousel-item{
    padding:3% 7%;
}
