/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  } */
body{
    
}
.flexbox{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#features,#products{
    margin:3%;
}
.feature-card{
    width:15rem;
    text-align:center;
}
i:hover{
    color:#164b1a;
}
h1,h2,h3,h4{
    font-weight: 500;
}
h2{
    font-size:3rem !important;
    line-height: 50px !important;
}
@media (max-width:450px) {
    h2{
        font-size: 1.5rem !important;
    }
}
.carousel-item{
    padding:3% 7%;
}

.teal img{
    height:150px;
    width:150px;
}
p img{
    width:25px;
    height:25px;
}
div img{
    height:100px;
    width:100px;
}